@font-face 
    font-family Hobo
    src url(../assets/font/hobo.ttf)

body 
    color #ffffff
    background-color #000000
    margin 0px
    overflow hidden

input:focus 
    outline 0

padding = 10px

.chatBox 
    position absolute
    left padding
    font normal 14px Hobo

.chatContent
    position absolute
    top padding
    left padding
    text-shadow 0px 1px 0px #000000
