node_modules/
files/
.vscode/
*.exe
*.blend1
public/js/app.js
public/js/logs.js
public/js/app.min.js
public/bootstrap/
server/protocol/
server/prof/
server/.idea
server/data/data.db
server/data/data.db.lock
client/protocol.js
client/protocol.json
client/protocol-json.js
*~
client/version.js
server/version.go